<div class="settings-container">
    <a href="/" class="settings-button">Home</a>
    <div class="header-container">
        <h1 class="mainheader">Settings</h1>
    </div>
</div>
<div class = "settings-info shadow-lg">
    <h2 class = "student-info text-center">Tutor Information</h2>
    <p class = "settings-name">Name: {{user.firstname}} {{user.lastname}}</p>
    <p class = "settings-username">Username: {{user.username}}</p>
    <p class = "settings-course">Courses:</p>
    {{# each user.courses as |course|}}
        <div class = "settings-course-card flex flex-col p-4 border-gray-300 rounded-lg shadow-lg space-y-2">
            <p class = "settings-cname">Course Name: {{course.title}}</p>
            <p class = "settings-prof">Professor: {{course.professor}}</p>
        </div>
    {{/each}}
</div>
<div class = "flex rounded text-center shadow-lg add-course-cont">
    <h2 class = "student-info">Add Courses</h2>
    <form method = "POST" action = "/settings" class = "flex flex-col items-center justify-center mt-4">
        <input type="text" placeholder="Course Name" name="title" class = "rounded center course-name mb-2 shadow-lg" required>
        <input type="text" placeholder="Professor" name="professor" class = "rounded course-name mb-2 shadow-lg" required>
        <button type="submit" class = "rounded border addcourse-button shadow-lg">Add Course</button>
    </form>
</div>
<form method = "GET" action = "/logout">
    <button type="submit" class = "request-button">Logout</button>
</form>